# *.class

# Package Files #
# *.jar
*.war
*.ear
*.log
*.zip

# Mac Files
.DS_Store
# *.classpath
# *.project

PA1/pa1_framework/bin/
PA1/pa1_framework/src/textures/



/PA2/pa2_framework/bin
/PA3/student/bin
/PA4/PA4Student/bin
/PA5/PA5Student/bin
bin
/PA5/PA5Student/lib
lib
